@import "tailwindcss";
 
/* Hide scrollbar initially */
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.hide-scroll {
  scrollbar-width: none; /* For Firefox */
}

/* Optional: fade-in scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
  transition: opacity 0.3s ease;
}
